footer {
  margin-top: calc((-100vw * (238 / 1920)) - 130px);
}
footer div {
  font-size: 0;
}
/* top animation */
.f_top {
  width: 100%;
  height: calc((100vw * (238 / 1920)) + 130px);
  overflow: hidden;
  position: relative;
  user-select: none;
  pointer-events: none;
}
.f_top>img {
  position: absolute;
  bottom: -100%;
  width: 100%;
  font-size: 0;
  display: block;
  transition-duration: 1.5s;
}
.f_top>img.active {
  bottom: 0;
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.8));
}
.f_top>.mobile{
  display: none;
}
/* footer */
.f_btm {
  height: 100%;
  background-color: #110a0d;
  z-index: 9999;
  position: relative;
  overflow: hidden;
}
.f_btm>div {
  width: 1440px;
  margin: 0 auto;
  padding: 64px 0;
  align-items: center;
}
.f_btm .info_wrap {
  padding-left: 64px;
  align-items: center;
}
.f_btm .info_wrap>ul {
  display: flex;
  color: #909090;
  gap: 30px;
}
.f_btm .info_wrap>ul>li {
  font-size: 14px;
  font-weight: 400;
  position: relative;
}
.f_btm .info_wrap>ul:not(:first-child) {
  padding-top: 20px;
}
.f_btm .APILOGO img {
  height: 45px;
}
.f_btm .info_wrap>ul>li:not(:last-child)::after {
  content: "";
  width: 1px;
  height: 10px;
  background-color: #909090;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -15px;
}
@media screen and (max-width:1439px) {
  .f_btm>div {
    width: 1024px;
    padding: 32px 0;
  }
  .f_btm .info_wrap>ul>li {
    font-size: 12px;
  }
}
@media screen and (max-width:1023px) {
  .f_top>img {
	padding-top: calc(100vw * (353 / 400));
  }
  .f_top .pc{
    display: none;
  }
  .f_top .mobile{
    display: block;
  }
  .f_btm>div {
    width: 100%;
    padding: calc(100vw * (20 / 400)) 0;
    flex-direction: column;
    gap: calc(100vw * (20 / 400))
  }
  .f_btm .f_logo img {
    width: calc(100vw * (144 / 400));
  }
  .f_btm .info_wrap {
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .f_btm .info_wrap>ul {
    gap: calc(100vw * (10 / 400));
    justify-content: center;
  }
  .f_btm .info_wrap>ul:not(:first-child) {
	padding-top: calc(100vw * (10 / 400));
  }
  .f_btm .info_wrap>ul>li {
    font-size: 2.4vw;
    font-weight: 400;
    position: relative;
	  text-align: center;
  }
  .f_btm .info_wrap>ul>li:not(:last-child)::after {
	  width: calc(100vw * (1 / 400));
	  height: calc(100vw * (10 / 400));
	  right: calc(-100vw * (5 / 400));
  }
  .f_btm .APILOGO img {
    height: calc(100vw * (20 / 400));
  }
  .f_btm .info_02 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }
  .f_btm .info_02>li:first-child {
    grid-column: 1 / 3;
  }
  .f_btm .info_02>li:first-child::after {
    width: 0;
  }
  .f_btm .info_03 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap:10px
  }
  .f_btm .info_03>li:nth-child(3) {
    grid-column: 1 / 3;
  }
  .f_btm .info_03>li:nth-child(4) {
    grid-column: 1 / 3;
  }
  .f_btm .info_03>li:not(:first-child)::after {
    width: 0;
  }
}